{{ define "main" }}
<h1 class="homepage">Laaang</h1>
<p>Welcome. This website is first and foremost a place to keep track of current and past projects I've done. Additionally, it also serves the purpose of a portfolio.</p>

<h2>Projects</h2>

<div class="projects">
    <a class="project-card" href="projects/beacon-reminder">
        <h3>Beacon Reminder App</h3>
        <p>
            Android app which uses Bluetooth Beacons to associate reminders with a location. If a user gets close to a beacon (location) a notification will go off and he/she can check what reminders he set for this particular location.
        </p>
        <ul>
            <li class="batches">flutter</li>
            <li class="batches">firebase</li>
            <li class="batches">dart</li>
        </ul>
    </a>
    <a class="project-card" href="projects/karmasterne2">
        <h3>Karmasterne 2</h3>
        <p>
            Website to exchange encouraging quotes, sayings and stories. Three modes (read, create, write)
        </p>
        <ul>
            <li class="batches">asp.net core</li>
            <li class="batches">blazor</li>
            <li class="batches">c#</li>
            <li class="batches">html</li>
            <li class="batches">scss</li>
            <li class="batches">docker</li>
            <li class="batches">azure</li>
        </ul>
    </a>
    <a class="project-card" href="projects/moment-rec-app">
        <h3>Moment-rec App</h3>
        <p>
            An audio recorder Android app which adds the last 30s <em>before</em> you pressed record.
        </p>
        <ul>
            <li class="batches">xamarin.forms</li>
            <li class="batches">c#</li>
        </ul>
    </a>
    <a class="project-card" href="projects/murphymeter">
        <h3>Murphymeter</h3>
        <p>
            Murphymeter is a collaborative webservice to create highly effective checklists for electrical engineers.
        </p>
        <ul>
            <li class="batches">django</li>
            <li class="batches">python</li>
            <li class="batches">javascript</li>
            <li class="batches">css</li>
            <li class="batches">scss</li>
            <li class="batches">html</li>
            <li class="batches">nginx</li>
        </ul>
    </a>
    <a class="project-card" href="projects/karmasterne1">
        <h3>Karmasterne 1</h3>
        <p>
            Website which works like a drift bottle. Write a message that will make somebody's day and receive a message in return.
        </p>
        <ul>
            <li class="batches">django</li>
            <li class="batches">python</li>
            <li class="batches">javascript</li>
            <li class="batches">css</li>
            <li class="batches">scss</li>
            <li class="batches">html</li>
            <li class="batches">nginx</li>
        </ul>
    </a>
    
    
    
    <a class="project-card" href="projects/moment-rec-embedded">
        <h3>Moment-rec (Embedded, HW)</h3>
        <p>
            Protable device to capture the last 30s before you pressed the record button. Tried launching a Kickstarter campaign.
        </p>
        <ul>
            <li class="batches">schematics</li>
            <li class="batches">pcb design</li>
            <li class="batches">assembly</li>
            <li class="batches">ublox</li>
            <li class="batches">nordic</li>
            <li class="batches">c</li>
            <li class="batches">freeRTOS</li>
        </ul>
    </a>
    <a class="project-card" href="projects/sheet-iron-feeder">
        <h3>Automated Sheet-iron Shears Feeder</h3>
        <p>
            Modernized a sheet-irion shears machine with a measurement system based on stepper motors.
        </p>
        <ul>
            <li class="batches">c</li>
            <li class="batches">diptrace</li>
            <li class="batches">schematics</li>
            <li class="batches">pcb design</li>
            <li class="batches">assembly</li>
        </ul>
    </a>
    
</div>

{{ end }}

