{{ define "main" }}
<h1 class="homepage">Laaang</h1>
<p>Welcome. This website is first and foremost a place to keep track of current and past projects I've done. Additionally, it also serves the purpose of a portfolio.</p>

<h2>Projects</h2>

<div class="projects">
    <a class="project-card" href="murphymeter">
        <h3>Murphymeter</h3>
        <p>
            blabblakjdslfjka flsadkjf lasdjf lasdfl
        </p>
        <ul>
            <li class="batches">python</li>
            <li class="batches">css</li>
            <li class="batches">scss</li>
            <li class="batches">html</li>
            <li class="batches">nginx</li>
            <li class="batches">linux</li>
            <li class="batches">javascript</li>
        </ul>
    </a>
    
    <a class="project-card" href="https://www.google.com">
        <h3>Karmasterne 2</h3>
        <p>
            blabblakjdslfjka flsadkjf lasdjf lasdfl
        </p>
        <ul>
            <li class="batches">asp.net core</li>
            <li class="batches">blazor</li>
            <li class="batches">c#</li>
            <li class="batches">azure</li>
            <li class="batches">html</li>
            <li class="batches">scss</li>
            <li class="batches">docker</li>
            <li class="batches">linux</li>
        </ul>
    </a>

    <a class="project-card" href="https://www.google.com">
        <h3>Karmasterne 1</h3>
        <p>
            blabblakjdslfjka flsadkjf lasdjf lasdfl
        </p>
        <ul>
            <li class="batches">python</li>
            <li class="batches">javascript</li>
            <li class="batches">css</li>
            <li class="batches">scss</li>
            <li class="batches">html</li>
            <li class="batches">nginx</li>
        </ul>
    </a>
    
    <a class="project-card" href="https://www.google.com">
        <h3>Moment-rec (App)</h3>
        <p>
            blabblakjdslfjka flsadkjf lasdjf lasdfl
        </p>
        <ul>
            <li class="batches">xamarin.forms</li>
            <li class="batches">c#</li>
            <li class="batches">visual studio</li>
        </ul>
    </a>
    
    <a class="project-card" href="https://www.google.com">
        <h3>Moment-rec (HW)</h3>
        <p>
            blabblakjdslfjka flsadkjf lasdjf lasdfl
        </p>
        <ul>
            <li class="batches">circuit studio</li>
            <li class="batches">c</li>
            <li class="batches">freeRTOS</li>
            <li class="batches">vim</li>
            <li class="batches">nginx</li>
        </ul>
    </a>
    <a class="project-card" href="https://www.google.com">
        <h3>Beacon Reminder</h3>
        <p>
            blabblakjdslfjka flsadkjf lasdjf lasdfl
        </p>
        <ul>
            <li class="batches">flutter</li>
            <li class="batches">firebase</li>
            <li class="batches">dart</li>
        </ul>
    </a>
</div>

{{ end }}

