// previous
// $page-background: #FFF;
// $accent: hsl(39, 100%, 50%);
// $python: hsl(10, 100%, 60%);
// $html: hsl(39, 100%, 60%);
// $button: hsl(39, 100%, 50%);
// $shadow: rgba(0, 0, 0, 0.13);
// $card-background: #FAFAFA;
// $font: hsl(0, 0, 16);

// first try

// color palette


$page-background: #FFF;
$accent-1: hsl(28, 88%, 58%);
$accent-2: hsl(37, 86%, 63%);
$batches: hsl(0, 0%, 60%);
$button: $accent-1;
$shadow: rgba(0, 0, 0, 0.13);
$card-background: hsl(0, 0%, 98%);
$font: hsl(0, 0, 16);